.general-editor {
    border: none;
    width: 100%;
}
.ProseMirror{
    border: 1px solid rgba(66, 82, 110, 0.25);
    box-shadow: inset 0px 1px 3px #DDDDDD;
    border-radius: 10px;
    height: 230px;
    width: 86%;
}



